<div class="container">
  
  <div class="col-md-8 col-md-offset-2">
    <h2 class="center">Edit <%= @task.title%></h2>

    <div>
      <% if flash.has?(:notice) %>
        <p class="flash"><b><%= flash[:notice] %></b></p>
      <% end %>

      <form action="/tasks/<%= @task.id %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="text" name="task[title]" value="<%= @task.title %>">
        <br><br>
        <textarea rows="10" cols="30" name="task[content]"><%= @task.content %></textarea>
        <br>
        <select name="task[completed]" onfocus="setTrue()" required>
          <option value="" disabled selected hidden> --select an option-- </option>
          <option value="false" id="false">Not Completed</option>
          <option value="true" id="true">Completed</option>
        </select>
        <br><br>
        <input type="submit" name="" value="Edit Task">
      </form>

      <form onsubmit="return confirm('Are you sure you want to delete <%= @task.title %>?');" action="/tasks/<%= @task.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" name="delete" value="Delete task" id="Delete task" class="delete">
      </form>
    </div>
  </div>
</div>

<!-- script for <select> -->

<script>
function setTrue() {
    document.getElementById("<%= @task[:completed] %>").selected = "true";
    }
</script>