<div class="container">
  
  <div class="col-md-8 col-md-offset-2">
    <h2 class="center">Edit <%= @project.title%></h2>

    <div>
      <% if flash.has?(:notice) %>
        <p class="flash"><b><%= flash[:notice] %></b></p>
      <% end %>

      <form action="/projects/<%= @project.id %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="text" name="project[title]" value="<%= @project.title %>">
        <br><br>
        <textarea rows="10" cols="50" name="project[description]"><%= @project.description %></textarea>
        <br><br>
        <small><b>Due Date</b></small><br>
        <%= @project.due_date.localtime.strftime('%A %e %B %Y') %>
        <br><br>
        <input type="submit" name="" value="Edit Project" id="update">
      </form>
      <br>
      <a href="/projects/<%= @project.id %>"><i class="fa fa-arrow-circle-left" style="font-size:36px;color:green"></i></a>

      <form onsubmit="return confirm('Are you sure you want to delete <%= @project.title %> and all of it\'s tasks?');" action="/projects/<%= @project.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" name="delete" value="Delete Project" id="Delete Project" class="delete">
      </form>

    </div>
  </div>
</div>
 