<div class="container">
  
  <div class="col-md-8 col-md-offset-2">
    <h2 class="center">All Projects</h2>

      <% if flash.has?(:notice) %>
        <p class="flash"><b><%= flash[:notice] %></b></p>
      <% end %>

    <div>
      <% @projects.each do |project| %>
      <a href="/projects/<%= project.id %>" class="clickable-cells">
        <div class="sorted-projects">
          <h3 class="center"><b><%= project.title %></b></h3>
          <br><br>
          <p class="center" ><%= project.description %></p>
        <small><b>Due Date</b></small><br>
        <% if Date.parse(project.due_date.to_s) <=  Date.today %>
          <p class="date"><%= project.due_date.strftime('%A %e %B %Y') %></p>
        <% else %>
          <p><%= project.due_date.strftime('%A %e %B %Y') %></p>
        <% end %>
        <br><br>
        </div>
      </a>
      <% end %>
    </div>
  </div>
</div> 
