<div class="container">
  
  <div class="col-md-8 col-md-offset-2">
    <h2 class="center"><%= @project.title %></h2>

      <% if flash.has?(:notice) %>
        <p class="flash"><b><%= flash[:notice] %></b></p>
      <% end %>

    <div>
      <p class="center"><%= @project.description %></p>
      <br><br>
        <% @project.tasks.each do |task| %>
          <a href="/tasks/<%= task.id %>/edit" class="clickable-cells">
            <div class="tasks">
              <p><b><%= task.title %></b></p>
              <p><%= task.content %></p>
            </div>
          </a>
        <% end %>
        <br>
      <small><b>Due Date</b></small><br>
      <%= @project.due_date.to_time.strftime('%A %e %B %Y') %>
      <br><br>
      <button type="submit" id="edit-object"><a href="/tasks/new" id="edit-object">Create Project Task</a></button>
      <br><br>
      <button type="submit" id="edit-object"><a href="/projects/<%= @project.id %>/edit" id="edit-object">Edit Project</a></button>
      <form onsubmit="return confirm('Are you sure you want to delete <%= @project.title %> and all of it\'s tasks?');" action="/projects/<%= @project.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" name="delete" value="Delete Project" id="Delete Project" class="delete">
      </form>
    </div>

    <!--<script>
      function confirmDelete() {
        var r = confirm("Are you sure you want to delete this project?");
        if (r == false) {
          location.reload();
        }
      }
    </script>-->
  </div>
</div> 
