<div class="container">
  
  <div class="col-md-8 col-md-offset-2">
    <h2 class="center"><%= @project.title %></h2>

      <% if flash.has?(:notice) %>
        <p class="flash"><b><%= flash[:notice] %></b></p>
      <% end %>

    <div>
      <% if @project.tasks(completed: true).all? %>
      <h3 class="center completed">PROJECT COMPLETED</h3>
      <p class="center completed"><%= @project.updated_at.strftime('%A %e %B %Y %T')%></p>
      <% end %>
      
      <p class="center"><%= @project.description %></p>
      <br><br>
        <% @project.tasks.each do |task| %>
          <a href="/tasks/<%= task.id %>/edit" class="clickable-cells">
            <div class="tasks">
              <p><b><%= task.title %></b></p>
              <p><%= task.content %></p>
              <% if task.completed %>
              <p class="completed">COMPLETED</p>
              <% end %>
            </div>
          </a>
        <% end %>
        <br>
      <small><b>Due Date</b></small><br>
        <% if Date.parse(@project.due_date.to_s) <=  Date.today %>
          <p class="date"><%= @project.due_date.strftime('%A %e %B %Y') %></p>
        <% else %>
          <p><%= @project.due_date.strftime('%A %e %B %Y') %></p>
        <% end %>
      <br><br>
      <button type="submit" id="edit-object"><a href="/tasks/new" id="edit-object">Create Project Task</a></button>
      <br><br>
      <button type="submit" id="edit-object"><a href="/projects/<%= @project.id %>/edit" id="edit-object">Edit Project</a></button>
      <form onsubmit="return confirm('Are you sure you want to delete <%= @project.title %> and all of it\'s tasks?');" action="/projects/<%= @project.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" name="delete" value="Delete Project" id="Delete Project" class="delete">
      </form>
    </div>
  </div>
</div>
