<div class="container">
  
  <div class="col-md-8 col-md-offset-2">
    <h2 class="center"><%= @project.title %></h2>

      <% if flash.has?(:notice) %>
        <p class="flash"><b><%= flash[:notice] %></b></p>
      <% end %>

    <div>
      <p class="center"><%= @project.description %></p>
      <br><br>
      <small><b>Due Date</b></small><br>
      <%= @project.due_date.to_time.strftime('%A %e %B %Y') %>
      <br><br>
      <a href="/projects/<%= @project.id %>/edit">Edit Project</a>
    </div>
  </div>
</div> 
